.glossary {
    &__result {
        &__item {

        }
    }
}

.card {
    &__content {
        padding: 10px;
    }
}

.inactive {
    display: none;
}

[data-bs-theme=dark] {
    .site-content {
        background-color: var(--bs-body-bg);
    }

    .form-control {
        background: var(--bs-secondary-bg);
        color: var(--bs-body-color);
        border-color: var(--bs-border-color);

        &:focus, &.input-focus {
            border-color: #2b98eb;
            background: var(--bs-secondary-bg);
        }
    }

    .card {
        background: var(--bs-secondary-bg);
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);

        &__content {
            color: var(--bs-body-color);
        }

        &__title {
            a {
                color: var(--bs-body-color);

                &:hover, &:focus {
                    color: #2b98eb;
                }
            }
        }

    }

    .glossary {
        &__nav {
            &__item {
                a {
                    color: var(--bs-body-color);

                    &:hover, &:focus {
                        color: #FFF;
                    }
                }

                &.active {
                    @extend .glossary__nav__item--active;
                }

                &--active {
                    .card {
                        background-color: lighten(#343a40, 15%);
                    }
                }
            }
        }

        &__search {
            &__form {
                &:before {
                    color: var(--bs-body-color);
                }
            }
        }

        &__results {
            &__item {
                a {
                    color: var(--bs-body-color);

                    &:hover {
                        .card__title {
                            color: #2b98eb;
                        }
                    }
                }
            }
        }
    }

    .title-style--three {
        color: #2b98eb;
    }
}
